body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
}


/* Navigation */

.header {
    background-color: white;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header input {
    width: 30%;
    padding: 8px;
}

.header img {
    padding: 20px;
    height: 20px;
}

.header a {
    padding: 20px;
}


/* Main content */

.content {
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

/* Video player */

.player {
    background-color: khaki;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    flex-basis: 55%;
}

/* Sidebar */

.sidebar {
    background-color: darkgoldenrod;
    flex-basis: 25%;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.sidebar-card {
    background-color: #fff;
    display: flex;
    margin: 10px;
    justify-content: space-between;
}

.sidebar-card img {
    width: 170px;
}
