body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
}


/* Navigation */

.header {
    background-color: white;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header input {
    width: 30%;
    padding: 8px;
}

.header img {
    padding: 20px;
    height: 20px;
}

.header a {
    padding: 20px;
}

#user {
    height: 32px;
    border-radius: 50%;
}

/* Main content */

.main {
    background-color: rgba(0,0,0,.1);
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

/* video section */

.content {
    background-color: khaki;
    display: flex;
    flex-direction: column;
    margin: 20px;
    flex-basis: 60%;
}

/* 
    Video player, implementation borrowed from CSS-Tricks
    https://css-tricks.com/fluid-width-video/
*/

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }



/* Sidebar */

.sidebar {
    background-color: darkgoldenrod;
    flex-basis: 30%;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.sidebar-card {
    background-color: #fff;
    display: flex;
    margin: 10px;
    justify-content: space-between;
}

.sidebar-card img {
    width: 170px;
}
