.container {
    width: 100%;
}

.header {
    background-color: white;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header input {
    flex-grow: 1;
}

.header img {
    padding: 20px;
    height: 20px;
}

.content {
    background-color: grey;
    display: flex;
    padding: 20px;
}

.player {
    background-color: khaki;
    padding: 20px;
    width: 70%;
}

.sidebar {
    background-color: darkgoldenrod;
    width: 30%;
}
